body {
	min-width: 960px;
		margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #333333;

	background-color: #000000;
	background-image: url(img/fon.png);
	background-position: top center;
	background-repeat: repeat;
	
	background-size: 1350px auto;
}
img{/*картинка не будет вылазить за родительский блок блоки */
	max-width: 100%; 
	height: auto;
}
.main-header {
	margin-bottom: 50px;
}
.visually-hidden:not(:focus):not(:active), /*Убирает НЕНУЖНЫЕ элементы с рабочего пространства */
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
   position: absolute;

   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;

   white-space: nowrap;

   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/*.mobile {
	position: relative;
    left: 30px;
	font: inherit; /*меняет шрифт и размер текста*/
	text-align: left; /*выравнивание */
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #000000;
    border: none;
 }*/

.main-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    background-color: transparent;

}
.main-navigation-wrapper {
	width: 100%;
	background-color: #333333;
}
.main-navigation-wrapper .container{
    display: flex;
    justify-content: space-between;
}
.site-navigation,
.user-navigation {
	list-style: none;
	margin:0;
	padding: 0;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 820px;

	background: rgb(51, 51, 51);
	padding-left: 20px; 

  
	
}
.user-navigation {

	display: flex;
	flex-wrap: wrap;
	width: 620px;

	background: rgb(51, 51, 51);

}
.site-navigation a,
.user-navigation a {
	display: block;
	padding: 25px 18px;

	color: #ffffff;

}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus,
.user-navigation a:focus{
	background-color: #666666;
}
.user-navigation .mobile{

	position: relative;
	background: rgb(51,51,51);
    padding-top: 34px;
    padding-left: 290px;

  


}

.mobile::before {
	content: "";

	position: absolute;
	top: 33px;
	left: 254px;
	width: 25px;
	height: 25px;
	background-image: url("img/icon-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  
    opacity: 0.3;

}
.mobile:hover::before,
.mobile:focus::before,
.mobile:active::before {
  opacity: 1;
}


.container1 {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	padding-left: 110px;
}
.main-navigation {
	display: flex;
	padding-left: 100p
	font-size: 15px;
	line-height: 20px;
	color: #ffffFf;
}
.main-header-logo {
	position: relative;
	top: -60px;
	left: 11px;
	height: 10px;
	width: 300px;
	padding-right: 3px;
	order: 4;
	
}
.logo-text {
		position: relative;
		padding-left: 100px;
		color: white;
		order: 5;

}


.user-navigation .mobile {
	position: absolute;

}

.text {
	position: relative;
	color: white;
	left: 10px;
	top: 10px;
	order: 6;
}

/*ЭТО БЫЛ хёдер ЁПТа бля  ↑*/


.features {
	width: 1140px;
	margin: 0 auto;
	padding: 0 0px;
	background-color: white;
	margin-bottom: 40px;
}

.oneblock { 
}

.features-list{
	margin: 0;
	padding: 0;
	list-style: none;
	min-height: 170px;
	text-align:center;
	
}
.features-item {
	
	width: 300px;
	margin-left: 770px;
	
	min-height: 170px;
}

.divan7 {
	width: 730px;
	position: absolute;
	margin: 30px;
	padding-left: 20px;
	

	
}

.flex-divan {
	display: flex;
	max-width:1200px;

	overflow:hidden; /*скроем тень*/
	padding-top: 30px;
}
.item1 {
	height:360px;

	flex:40%; /* = flex-basis:20%; */

	transition: flex 300ms ease;

	box-shadow: 0 0 19px 3px #000; margin: 1px; /* красивости тени */
}
.item1:hover {
 	flex: 0.1 0.1 450px;
	background-size: 100% 100%;
}


.img1 { background:  url("img/pagedivan1.jpg") 0 0 no-repeat; }
.img2 { background: url("img/pagedivan2.jpg") 0 0 no-repeat; }
.img3 { background: url("img/pagedivan3.jpg") 0 0 no-repeat; }




p.text-1{
	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 20px;
	text-indent: 190px;
}
p.text-2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 30px;
	text-indent: 240px;

}
/*ниже код для иконочек под линией */
.flex-container {
	max-width: 1100px;
	margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.flex-container .item {
	max-width: 150px;
	text-align: center;
	display: flex;
	flex-direction: column;/* (распологаем вниз флексы )*/
	justify-content: space-between;
	
}

.flex-container .item { margin-left: 10px; margin-right: 10px; }


.flex-container.item.text-icon,
.flex-container.item.link {
    margin-top: 70px; 
   }

.flex-container .item img {
	align-content: center;
}
.flex-container .item .text-icon { flex-grow:1; }
.flex-container .item .link a {
  display: block;
  padding: 15px 10px;
  max-width: 160px;
  margin: 0 auto;
  
  text-decoration: none;
   color: white;
  background:#6b6b6b;
  border-radius:3px;
  
}



/*figure.page-icon {
	display: flex;

	flex-wrap: wrap;
	flex-basis: auto;
	align-items: center;
   justify-content: center;
	background-color: red;
	padding: 40px 0px;
	margin:10px;
	
	
}


.block1.img { 
	 margin: 0 auto;
	 padding: 30px;
	 width: 350px;
    height: 350px;
 

}*/

.icon4 {
	filter: grayscale(1);
	filter: contrast(120%);
	margin-top: 14px;
}
.icon3 {
	filter: contrast(120%);
	filter: grayscale(1);
	margin-top: -10px;

	
}


.text-icon2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
   
	text-align:  center;

}









/*ТАМ ФУТЕР , НЕ ЛЕЗТЬ ТУДА , ГДЕ ВСЁ НОРМАЛЬНО*/
.features {
	padding-bottom: 10px;
}
.main-footer {
	
	height: 120px;
	width: 100%;
	margin: auto;
    color: #333333;
	background-color: #333333;
	text-align: center;
	padding-top: 40px;
}



.main-footer .features {
	
   
    background-color: #333333;
     
  
}
.footer-help {
	display: flex;
}
.footer-contacts {
	width: 370px;
	height: 50px;
	margin: 0;
	margin-right: auto;
	color: black;
	margin-bottom: 0px;
	text-align: left;
	margin-bottom: 


}	 
.footer-contacts p {
	margin-top: 3px;
}
.text2008 {
	padding-right: 20px;
	color: white;
	padding-top: 5px;
}
.footer-social {
	width: 350px;
	color: white;
	

	
    
}
.footer-social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 150px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 43px;
	height: 43px;

}	

.footer-copyright {
	margin: 0;
	width: 400px;
    margin-left: auto;
    
    color: white;
    text-align: center;
	

}
.footer-social b {
	display: block;
	margin-top: 0px;
	  text-align: center;
	
	

}
Пошли модалки
.modal {
	position: fixed;
	color: #000000;
	background-color: #999999;


}
.modal-map {
	display: none;
	top: 50px;
	left: 50px;
	width: 740px;
	height: 560px;
	margin-top: -950px;
	border: 8px solid black; 

	
}




/*ВНИМАНИЕ  !!!!! другая страница сайта пошла , О КОМПАНИИ*/

h2 {
	padding-top: 30px;
	padding-bottom: 20px;
}
/*это я делаю рисочки вокруг текста*/
.company-content-one .big-heading {
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 25px;
	margin-top: 50px;
	
}
.big-heading::before,
.big-heading::after {
	flex-grow: 1;
	flex-shrink: 0;
	content: "";
	width: 50px;
	height: 2px;
	background: #000000;

}
.big-heading::before {
	margin-right: 20px;
}
.big-heading::after {
	margin-left: 20px;
}
.eac {
    margin: 0 150px;
	margin-top: -80px;
	z-index: 1;
} 
.big-heading {
	position: relative;
	z-index: 2;
}
.eremenko {
	text-align: right;
}
table {
	margin-left: 300px;
	
	padding: 4px;
	text-align: center;
}
table td {
	padding: 3px 10px;
}


/*свойства для скрипта */
.maps {
	padding: 10px 140px;
}

















.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  
  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 42px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 7px;
  right: -25px;

  width: 8px;
  height: 8px;

  background-color: #000000;
  
  transform: rotate(45deg);
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.breadcrumbs-current::after {
  display: none;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 180px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filter legend {
  margin-bottom: 26px;
  
  font-size: 24px;
  line-height: 30px;
}

.filter ul {
  padding: 0;
  margin: 0;
  
  list-style: none;
  line-height: 18px;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;

  width: 16px;
  height: 16px;

  border: 2px solid #000000;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 4px;
  left: -38px;

  width: 12px;
  height: 12px;
  
  background-image: url("img/cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -42px;
  top: -1px;

  width: 16px;
  height: 16px;
  
  border: 2px solid #000000;
  border-radius: 50%;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: -36px;

  width: 8px;
  height: 8px;

  background-color: #000000;
  border-radius: 50%;
}

.catalog {
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  list-style: none;
}

.catalog-item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
  
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
  display: flex;
  flex-direction: column;
  
  color: #000000;
}

.catalog-item h3 {
  order: 1;
  margin-top: 17px;
  margin-bottom: 12px;
  margin-left: 16px;
  margin-right: 15px;
  
  font-size: 14px;
  line-height: 18px;
}

.catalog-category {
  display: block;
  
  text-transform: none;
}

.catalog-item-image {
  width: 220px;
  height: 165px;
  margin: 0;
}

.catalog-item-price {
  display: flex;
  margin: 15px;
  margin-top: 0;
}

.catalog-item-price b {
  width: 112px;
  padding: 13px 25px 11px;
  
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  background-color: #e5e5e5;
}

.catalog-item-price .button {
  width: 50px;
  padding: 13px 18px 11px;
  margin-right: 0;
  
  line-height: 20px;
  color: #ffffff;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  
  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 10px 19px;
  
  color: #ffffff;

  background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #663d15;
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}

.product-photo-preview {
  list-style: none;
}

.product-photo-preview li {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-full {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-article {
  text-align: right;
  color: #aeaeae;
}

.product-price b {
  line-height: 20px;
  text-align: center;

  background-color: #e5e5e5;
}

.product-info h3 {
  font-size: 24px;
  line-height: 30px;
}

.product-info ul {
  list-style: none;
}

.main-footer {
  margin-top: 65px;
  padding: 60px 0;
  
  color: #ffffff;

  background-color: #212121;
  background-image: url("img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-page .main-footer {
  margin-top: 45px;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  width: 145px;
  
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;
  
  list-style: none;
}

.footer-social b {
  display: block;
  margin-bottom: 15px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;

  background-color: #000000;
}

.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000000;
}

.footer-copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;
  text-align: center;
}

.footer-copyright .button {
  display: block;
  margin-right: 0;
}

.footer-copyright b {
  display: block;
  margin-bottom: 15px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}


